*{
    padding: 0%;
    margin: 0%;
    font-family:'Arial', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --primary: hsl(111, 100%, 87%, 0.65);
    --secondary: hsl(350, 100%, 84%, 0.65);

}
.content
{
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to right, rgba(255, 217, 0, 0.479),rgba(199, 15, 168, 0.685)) ;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.img1
{
    height: 200px;
    width: 200px;
}
.img2
{
    height: 200px;
    width: 200px;
}
.img3
{
    height: 410px;
    width: 200px;
    margin: 20px;
}
.division
{
    height: 250px;
    width: 500px;
    background-color: tomato;
    padding: 20px;
    margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   row-gap: 20px;
    
}
.t2
{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px;
}
.click
{
    display: flex;
}
.arrow
{
    margin-left: 10px;
    height: 20px;
    width: 20px;
}